body, html {
    font-family: Arial, sans-serif;
    background-color: black;  /* Agregar la imagen de fondo */
  }

#content {
    opacity: 1;
    padding: 50px;
    background-color: rgba(233, 233, 233, 0.808); /* Fondo con un poco de transparencia */
    font-size: 1.1rem; /* Tamaño de fuente */
    line-height: 1.6; /* Espaciado entre líneas */
    max-width: 600px; /* Establecer el ancho máximo a 1000px */
    margin-left: auto;  /* Centrar el contenido a la izquierda */
    margin-right: auto; /* Centrar el contenido a la derecha */
    backdrop-filter: blur(14px); /* Aplica un desenfoque al fondo */
    -webkit-backdrop-filter: blur(14px); /* Para soporte en Safari */
    border-radius: 30px; /* Bordes redondeados */
  }